<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Asia Tours</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="styles.css">
    <!-- Link to external JavaScript file -->
    <script src="script.js" defer></script>
</head>
<body>
    <h1>Asia Tours Schedule for June 2024</h1>
    {% comment %} loop over all tours in the database {% endcomment %}
    <ul>
        {% for tour in tours %}
        <li>{{tour}}</li>
        {% endfor %}
    </ul>    
</body>
</html>
