{% load static %}

<!DOCTYPE html>
<html lang="en">
<head> 
    <title>HOME</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <h1>Welcome to Django by Jbtechnix</h1>
    <div class="centered-content">
        <img class="logo" src="{% static 'images/logo.jpeg' %}" alt="logo">

        <form action="{% url 'contact' %}" method="GET">
            <button type="submit" class="btn">Click to Enter Form</button>
        </form>
        
    </div>
</body>
</html>   