{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Asia Tours</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    
</head>
<body>
    <h1>Welcome  to Django</h1>
    <p>Django makes it easier to build better web apps, more quickly and with less code</p>


    <img src="{% static 'images/logo.jpeg' %}" alt="Django Logo" >
    <!-- Link to external JavaScript file -->
    <script src="{% static 'js/script.js' %}" defer></script>
</body>
</html>
